.table {
    .col-id {
        width: 10%;
    }
    
    .col-name {
        width: 20%;
    }

    .col-price {
        width: 15%;
    }

    .col-action {
        width: 20%;
    }
}

a {
    color: white;
}