.table {
    .col-id {
        width: 2%;
    }
    
    .col-name {
        width: 20%;
    }

    .col-phone {
        width: 15%;
    }

    .col-email {
        width: 15%;
    }

    .col-address {
        width: 15%;
    }

    .col-note {
        width: 15%;
    }

    .col-action {
        width: 20%;
    }
}

a {
    color: white;
}