
.table {
    .col-id {
        width: 5%;
    }
    
    .col-describe {
        width: 20%;
    }

    .col-amount {
        width: 15%;
    }

    .col-type {
        width: 15%;
    }

    .col-start {
        width: 15%;
    }

    .col-end {
        width: 15%;
    }

    .col-action {
        width: 15%;
    }
}