
.table {
    .col-date {
        width: 10%;
    }
    
    .col-provider {
        width: 15%;
    }

    .col-material {
        width: 20%;
    }

    .col-amount {
        width: 10%;
    }

    .col-unit {
        width: 10%;
    }

    .col-price {
        width: 10%;
    }

    .col-note {
        width: 15%;
    }

    .col-action {
        width: 15%;
    }
}

a {
    color: white;
}