.table {
    .col-id {
        width: 2%;
    }

    .col-name {
        width: 15%;
    }

    .col-birthday {
        width: 10%;
    }

    .col-address {
        width: 20%;
    }

    .col-phone {
        width: 15%;
    }

    .col-note {
        width: 15%;
    }

    .col-action {
        width: 20%;
    }
}