.table {
    .col-id {
        width: 10%;
    }

    .col-name {
        width: 30%;
    }

    .col-username {
        width: 20%;
    }

    .col-role {
        width: 20%;
    }

    .col-action {
        width: 20%;
    }
}