.table {
    .col-name {
        width: 25%;
    }

    .col-amout {
        width: 15%;
    }

    .col-unit {
        width: 20%;
    }

    .col-promo {
        width: 20%;
    }

    .col-price {
        width: 20%;
    }
}

i {
    font-weight: bold;
}