<div class="c-app">
  <div app-sidebar
    class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show"
    [class.c-sidebar-minimized]="sidebarService.isMinimized | async">
  </div>
    <div class="c-wrapper c-fixed-components">
        <app-header></app-header>
        <nav class="c-subheader">
          <span class="h5 breadcrumb text-muted border-0 m-0">
            Quản lý tài khoản người dùng
          </span>
        </nav>
        <app-body>
          <div class="card">
            <div class="card-body">
    
              <div class="d-flex mb-4">
                <a class="btn btn-info mr-2" [routerLink]="['/quan-ly/nhan-vien']">
                  <i class="cil-chevron-left mr-1"></i>Quay lại
                </a>
              </div>
              
              <app-users-table></app-users-table>
    
            </div>
          </div>
        </app-body>
    </div>
  </div>